.custom-navbar {
  width: 100%;
  height: 56px;
  color: #fff;
  background-color: #212529;
  font-size: 0.875rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 34px;
  position: static;
  top: 0;
  z-index: 2 !important;
}

.logo {
  width: 85px;
  cursor: pointer;
}

.custom-menu {
  cursor: pointer;
  position: relative;
  padding-left: 16px;
}

.custom-menu p:first-child {
  color: #6c757d;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.custom-menu p:first-child svg {
  margin-left: 5px;
}

.custom-menu p:first-child:hover {
  color: #c8c6ba;
}

.close-menu {
  display: none;
}

.open-menu {
  width: 85px;
  height: 100px;
  background-color: #fff;
  display: block;
  position: absolute;
  bottom: -100px;
  border: 0.5px solid #6c757d;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 5px;
  padding-left: 10px;
  z-index: 100;
}

.open-menu ul {
  list-style: none;
  padding: 0;
}

.open-menu ul a {
  text-decoration: none;
}

.open-menu ul li {
  font-size: 15px;
  color: #6c757d;
  cursor: pointer;
}

.open-menu ul li:hover {
  color: #212529;
}

p {
  margin: 0;
}

.search {
  width: 100%;
  max-width: 500px;
  display: flex;
  align-items: center;
  position: relative;
}

.search input {
  width: 100%;
  height: 31px;
  border: 0.5px solid #6c757d;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 25px;
}

.search button {
  border: none;
  background-color: transparent;
}

.search button svg {
  font-size: 23px;
  position: absolute;
  right: 15px;
  bottom: 5px;
}

.divider {
  width: 1px;
  height: 2rem;
  border: 1px solid #383838;
  margin-left: 4px;
  margin-right: 15px;
}

.fav-sign-in {
  width: 100%;
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff !important;
}

.fav-sign-in p {
  margin-bottom: 0px;
}

.fav-sign-in a {
  color: #fff;
  text-decoration: none;
  width: auto;
}

.fav-sign-in p {
  margin-right: 20px;
  cursor: pointer;
}

.fav-sign-in a p {
  width: 65px;
  cursor: pointer;
  margin-right: 5px;
  color: #6c757d;
}
.fav-sign-in a p:hover {
  color: #c8c6ba;
}

.sign-in {
  background-color: #6c757d;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #777d81;
  text-align: center;
  margin-right: 5px;
}

.sign-in:hover {
  background-color: #383838 !important;
}

.sign-in p {
  width: 90px !important;
  margin-right: 0px !important;
  color: #fff !important;
}

.options-mobile {
  position: relative;
}

@media screen and (max-width: 768px) {
  .options-mobile svg {
    font-size: 30px;
    cursor: pointer;
  }

  .options-mobile svg:hover {
    color: #c8c6ba;
  }

  .open-menu {
    width: 210px;
    height: 250px;
    bottom: -275px;
    right: 0;
    background-color: #212529;
  }

  .search input {
    padding-left: 2px;
  }

  .divider-mobile {
    width: 100%;
    border-bottom: 2px solid #6c757d;
    margin: 3px 0px;
  }

  .open-menu ul li {
    font-size: 20px;
    color: #fff;
  }

  .open-menu ul li:hover {
    color: #6c757d;
  }

  .open-menu ul li:nth-child(6),
  .open-menu ul li:nth-child(7) {
    color: #6c757d;
  }

  .open-menu ul {
    margin-bottom: 0;
  }

  .sign-in-mobile li {
    color: #212529;
    background-color: #6c757d;
    border: 1px solid #777d81;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .sign-in li:hover {
    background-color: #383838 !important;
  }
}
